:root {
	--color-primary: #ff8b38;
	--color-secondary: #ffdb38;
	--color-bg: #383a42;
}

#navbarHeader {
	border-bottom-style: solid;
	border-width: thin;
	border-color: #1f2326;
}

#profileImg {
	object-fit: contain;
}

#contactBtn {
	font-size: 1.25em;
}

.highlight-primary {
	color: var(--color-primary);
}

.highlight-secondary {
	color: var(--color-secondary);
}

.highlight-primary, .highlight-secondary {
	text-shadow: 1px 1px 2px #000000;
}
