:root {
	overflow-x: hidden;
}

main {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 0px;
	margin: 0px;
	background-color: #dedede;
}

#container-navbar {
	order: 1;
	flex-grow: 1;
	min-width: 15rem;
	max-width: 25rem;
}

#container-preview {
	order: 2;
	flex-grow: 2;
	min-width: 30rem;
	max-width: 50rem;
}

#container-fullview {
	order: 3;
	flex-grow: 2;
	min-width: 25rem;
	max-width: 45rem;
}

.box {
	box-shadow: 2px 2px 4px black;
	border: 2px dashed black;
	height: 100vh;
}

/* ==================== Screen Size Media Query ==================== */
/* Smallest */
@media (max-width: 44rem) {
	#container-navbar, #container-fullview {
		visibility: hidden;
		min-width: 0px;
		width: 0px;
		flex-grow: 0;
	}

	/* Enable Swipe for FullView, Navbar */
}

/* Medium */
@media (min-width: 45rem) and (max-width: 69rem) {
	#container-fullview {
		visibility: hidden;
		min-width: 0px;
		width: 0px;
		flex-grow: 0;
	}

	/* Enable Swipe for FullView */
}

/* Large */
@media (min-width: 55rem) {
	/* Disable Swipe */
}
