:root {
	overflow-x: hidden;
}
main {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;

	margin: 0px;
	padding: 0px;
}
.background {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	background-color: #dedede;
}



/* ==================== Content Container Styling ==================== */
#container-navbar, #container-preview, #container-fullview {
	padding: 2rem 0.5rem 2rem 0.5rem;
	min-height: 100vh;
}
#container-navbar {
	order: 1;
	min-width: 15rem;
	max-width: 20rem;
}
#container-preview {
	order: 2;
	min-width: 40rem;
	max-width: 50rem;
}
#container-fullview {
	order: 3;
	min-width: 30rem;
	max-width: 45rem;
}


#navbar, #preview, #fullview {
	display: flex;
	border-radius: 1rem;
	min-height: 92vh;
}
#navbar {
	top: 2rem;
}
#preview {
}
#fullview {
	top: 2rem;
}


.sticky {
	position: sticky;
}
.contain-outer {
	flex-grow: 1;
}
.contain-inner {
	/* Temporary Markup */
	box-shadow: 2px 2px 4px black;
	border: 2px dashed black;

	display: flex;
	flex-direction: column;
	padding: 1em 0.5em 1em 0.5em;
}
.contain-content {
	/* Temporary Markup */
	box-shadow: 1px 1px 2px black;
	border: 1px dashed black;

	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;

	flex-grow: 1;
}


/* ==================== Screen Size Media Query ==================== */
/* Smallest */
/* max-width: container-preview.min-width */
@media (max-width: 40rem) {
	#container-navbar, #container-fullview {
		visibility: hidden;
		min-width: 0px;
		width: 0px;
		flex-grow: 0;
		padding: 0 0 0 0;
	}
	#container-preview {
		/*  Make flex display */
		min-width: 0;
	}
	/* Enable Swipe for FullView, Navbar */
}

/* Small  */
/* min-width: container-preview.min-width */
/* max-width: container-navbar.min-width + container-preview.min-width */
@media (min-width: 40rem) and (max-width: 55rem) {
	#container-navbar, #container-fullview {
		visibility: hidden;
		min-width: 0px;
		width: 0px;
		flex-grow: 0;
		padding: 0 0 0 0;
	}

	/* Enable Swipe for FullView, Navbar */
}

/* Medium */
/* min-width: container-navbar.min-width + container-preview.min-width */
/* max-width: container-navbar.min-width + container-preview.min-width + container-fullview.min-width */
@media (min-width: 55rem) and (max-width: 85rem) {
	#container-fullview {
		visibility: hidden;
		min-width: 0px;
		width: 0px;
		flex-grow: 0;
		padding: 0 0 0 0;
	}

	/* Enable Swipe for FullView */
}

/* Large */
/* min-width: container-navbar.min-width + container-preview.min-width + container-fullview.min-width */
@media (min-width: 85rem) {
	/* Disable Swipe */
}
