@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

/************************************ Colors **********************************/

:root .dark {
    --background: #2B2F3A;
    --foreground: #D6D6D6;
    --comment: #797979;
    --green: #BBE958;
    --blue: #3F9FE8;
    --light-blue: #8FCFFF;
    --pink: #ED4D90;
    --orange: #E87D3E;
    --yellow: #E5B567;
    --purple: #9E86C8;
}
:root .light {
    --background: #FBF9ED;
    --foreground: #565869;
    --comment: #9194A2;
    --green: #2DAE58;
    --blue: #0977EC;
    --light-blue: #13BBB7;
    --pink: #FF42B0;
    --orange: #FF8920;
    --yellow: #CF9C00;
    --purple: #7E3DEF;
}

.background {color: var(--background);}
.foreground {color: var(--foreground);}
.comment {color: var(--comment);}
.green {color: var(--green);}
.blue {color: var(--blue);}
.light-blue {color: var(--light-blue);}
.pink {color: var(--pink);}
.orange {color: var(--orange);}
.yellow {color: var(--yellow);}
.purple {color: var(--purple);}

/********************************* Media Query ********************************/

@media (min-width: 800px) {
    body {
        padding: 20px;
        min-height: calc(100vh - 40px);
        font-size: 1em;
    }
    #terminal {
        min-height: calc(100vh - 40px);
        min-width: calc(100vw - 40px);
    }
}
@media (max-width: 800px) {
    body {
        padding: 10px;
        min-height: calc(100vh - 20px);
        font-size: 0.8em;
    }
    #terminal {
        min-height: calc(100vh - 20px);
        min-width: calc(100vw - 20px);
    }
}
@media (max-width: 650px) {
    body {
        padding: 5px;
        min-height: calc(100vh - 10px);
        font-size: 0.7em;
    }
    #terminal {
        min-height: calc(100vh - 10px);
        min-width: calc(100vw - 10px);
    }
}

@media (min-width: 800px) {
    body {
        text-wrap-mode: normal;
    }
    #command-output {
        white-space: pre-wrap;
        word-wrap: break-word;
    }
}
@media (max-width: 800px) {
    body {
        text-wrap-mode: nowrap;
    }
    #command-output {
        white-space: pre;
        word-wrap: normal;
    }
}

/********************************* Base Style *********************************/

html {
    background-color: var(--background);
    box-sizing: border-box;
    position: relative;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Noto Sans Mono', Consolas, monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    color: var(--blue);
    text-decoration: underline;
    cursor: pointer;
}
a:hover,
a:focus {
    color: var(--light-blue);
    text-decoration: none;
}
a:visited {
    color: var(--purple);
}

/******************************* Terminal Style *******************************/

#terminal {
    padding: 10px;
    background-color: var(--background);
    border: 1px solid var(--comment);
    border-radius: 5px;
    overflow-y: auto;
    cursor: text;
}

/* Keeps input text box in-line with input prompt */
#input-line {
    display: flex;
    align-items: center;
}

/* Applies to both the text input prompt, and echoed prompt */
.prompt {
    color: var(--green);
    margin: 0;
    margin-right: 5px;
    padding: 0;
    font-weight: bold;
    /* Keeps echoed prompt elements in-line */
    display: flex;
    align-items: center;

    .user {color: var(--green);}
    .at {color: var(--comment);}
    .host {color: var(--green);}
    .colon {color: var(--comment);}
    .path {color: var(--green);}
}

#command-input {
    background-color: transparent;
    color: var(--foreground);
    border: none;
    outline: none;
    padding: 0;
    flex-grow: 1;
    font-family: inherit;
    font-size: 1em;
}

#command-output {
    .normal {color: var(--foreground);}
    .error {
        color: var(--pink);
        font-style: italic;
    }
}

.echo {
    display: flex;
    padding: 0;
    margin-bottom: 5px;

    .text {
        color: var(--foreground);
        white-space: pre;
    }
}