html, body {
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: pointer;
}

div {
	height: 100%;
	width: 100%;
	position: fixed;
}

img, video {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	object-fit: cover;
	position: absolute;
}

#vid-0, #vid-1, #vid-2, #vid-3, #vid-4{
	visibility: hidden;
}
