// TODO: @use method doesn't work?
// React doesn't recognize variable usage: colors.$variable
// NOTE: @import usage is deprecated by SASS
@import "./colors.scss";

// Media query breakpoints
$break-0: 600px;
$break-1: 763px;
$break-2: 880px;

/* ============== Jumbotron Styling ============== */
// flex box
.jumbotron {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;

	background-color: $primary-0;
	background-image: url("../images/about/particles.png");
}
.summary-box {
	text-shadow: -0.5px 0.5px 3px $shadow-secondary-1-2;
}

// Content styling
.profile-img {
	border-radius: 50%;
	width: 15em;
	height: 15em;
	box-shadow: -2px 2px 3px $shadow-primary-2;
}
.summary-box {
	p {
		margin: 0;
	}
}



/* ============== Jumbotron Responsive ============== */
// Collapsed: No logo effect
@media only screen and (max-width: $break-2 - 1px) {
	.logo {
		display: none;
	}
	.container {
		display: block;
	}
	.summary-box {
		flex-grow: 0;
	}
	.name {
		margin: 1em auto 0 auto;
		text-align: center;
	}
}
// Uncollapsed: Logo effects on
@media only screen and (min-width: $break-2){
	.container {
		display: flex;
		justify-content: flex-start;
	}
	.summary-box {
		margin-left: 5%;
	}

	a {
		.logo {
			opacity: 0;
			width: 3em;
			height: 3em;
			box-shadow: -1px 1px 3px $shadow-primary-2;
			transition: all 100ms 200ms ease-in-out;
			z-index: 1;
		}
		.uni-text {
			margin-left: -3em;
			transition: margin 200ms 200ms ease-in-out;
			z-index: 2;
		}
	}
	a:hover {
		.logo {
			opacity: 1;
		}
		.uni-text {
			margin-left: 1em;
		}	
	}
}



/* ============== Contents Styling ============== */
// Using Bootstrap grids for card sizing and positioning
.content-container {
	padding: 0.5em;
	margin: 1em;
}

// Responsive card column count
.card-container {
	justify-content: stretch;
	@media only screen and (max-width: $break-0 - 1px) {
		column-count: 1;
	}
	@media only screen and 
		(min-width: $break-0) and (max-width: $break-2 - 1px) {
		column-count: 2;
	}
	@media only screen and (min-width: $break-2) {
		column-count: 3;
	}
}

.card {
	display: block;
	text-align: left;
}
.card-header {
	margin: 0;
}

.skill-list {
	// left indent list items
	padding-left: 0.5em;
}
.subtext {
	font-style: italic;
	color: $shadow-primary-2;
}



/* ==================== Button Container Styling ==================== */
.button-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: center;
}

// Use empty span element to force buttons to left side of screen, 
// when screen is too large. Hide the element when unused,
// to not mess up flex alignment.
.button-container .filler {
	@media only screen and (max-width: $break-1 - 1px) {
		display: none;
	}
	@media only screen and (min-width: $break-1) {
		flex-grow: 1;
	}
}


