// TODO: @use method doesn't work?
// React doesn't recognize variable usage: colors.$variable
// NOTE: @import usage is deprecated by SASS
@import "./colors.scss";
@import "./breakpoints.scss";

/* ============== Jumbotron Styling ============== */
.jumbotron {
	// base flexbox styling
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	border-radius: 0.5em;
	padding: 3em;

	// image is transparent-white png, with color overlay
	background-color: $primary-0;
	background-image: url("../images/about/particles.png");
}

// Jumbotron content
.profile-img {
	border-radius: 50%;
	width: 15em;
	height: 15em;
	margin: 0 1.5em;
	box-shadow: -2px 2px 3px $shadow-primary-2;
}
.summary-box {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;

	text-shadow: -1px 1px 4px $shadow-secondary-1-2;
	p {
		margin: 0;
		color: $neutral-7;
	}
	i {
		// FontAwesome External links mark
		margin: 0 0.5em;
		font-size: 14px;
	}
}
.name {
	font-weight: bold;
	font-size: 1.25em;
}
.text-lead {
	font-weight: bold;
}
.text-sub {
	font-style: italic;
}

// University Logo styling
.container {
	display: flex;
	justify-content: flex-start;
}
.logo {
	width: 3em;
	height: 3em;
	border-radius: 50%;
	box-shadow: -1px 1px 3px $shadow-primary-2;
}
.uni-text {
	margin-left: 1em;
}

// University link hover effect
.text-lead, .text-sub, .logo {
	transition: all 100ms ease-in-out;
}
a:hover .text-lead, a:hover .text-sub {
	color: white;
	text-shadow: 0px 0px 8px $shadow-secondary-1-2;
}
.logo {
	transition: all 100ms ease-in-out;
}
a:hover .logo {
	border-radius: 0%;
}



/* ============== Jumbotron Responsive Media Query ============== */
// Very small screen styling
@media only screen and (max-width: $break-sm-1) {
	.profile-img {
		width: 12em;
		height: 12em;
	}
	.logo {
		display: none;
	}
}

// Collapsed (Column):
@media only screen and (max-width: $break-lg-1) {
	.name {
		text-align: center;
		margin-top: 1.5em;
	}
}

// Full (Row):
@media only screen and (min-width: $break-lg) {
	.name {
		text-align: left;
	}
}



/* ============== Card Content Styling ============== */
.card-container {
	margin: 1.5em;
	text-align: left;
}

.card-list {
	padding: 0;
	list-style-type: none;
}

.card-list-entry {
	border-bottom: 1px #cecece44 solid;
	padding: 0.5em 0;
}

.card-subtext {
	font-style: italic;
	color: $neutral-4;
}



/* ==================== Button Container Styling ==================== */
.button-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-content: center;
}

// Use empty span element to force buttons to left side of screen, 
// when screen is too large. Hide the element when unused,
// to not mess up flex alignment.
.filler {
	@media only screen and (max-width: $break-lg-1) {
		display: none;
	}
	@media only screen and (min-width: $break-lg) {
		flex-grow: 1;
	}
}


