// TODO: @use method doesn't work?
// React doesn't recognize variable usage: colors.$variable
// NOTE: @import usage is deprecated by SASS
@import "./colors.scss";
@import "./breakpoints.scss";

/* =================== Base Card Styling =================== */
.card {
	display: flex;
	flex-flow: column nowrap;
	overflow: hidden;

	min-height: 500px;

	border-radius: 16px;
	box-shadow: -2px 2px 6px $shadow-secondary-1-3,
				4px -4px 4px #ffffff;
}

.card-link {
	display: inherit;
	flex-flow: inherit;
	// fills card
	width: 100%;
	height: 100%;
}

.card-image {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	flex-shrink: 0;
}

.card-header {
	font-size: 1.4em;
	font-weight: bold;
	color: $neutral-7;
}

.card-subheader {
	font-size: 1.05em;
	font-style: italic;
	font-weight: light;
	color: $neutral-5;
}

.card-body {
	display: flex;
	flex-flow: column nowrap;
	padding: 1em 1.5em;
	text-align: left;
	
	// Filler spacing
	// Stretches subtext to bottom of card, fills empty space
	flex-grow: 1;
	span {
		flex-grow: 1;
	}
}

.card-text {
	font-size: 1em;
	color: $neutral-7;
}

.card-footer {
	font-size: 0.85em;
	font-style: italic;
	font-weight: light;
	color: $neutral-4;
	margin: 0;
}



/* =================== Card Image Layout =================== */
// Regular card styling
.regular .card-image {
	height: 25%; // variable
	width: 100%;
}

// Wide and Large layouts break on small screens
// Sets all cards to regular size styling then
@media only screen and (max-width: $break-sm-1) {
	.wide .card-image,
	.tall .card-image,
	.large .card-image {
		height: 150px; // variable
		width: 100%;
	}
}
@media only screen and (min-width: $break-sm) {
	.wide {
		grid-column-start: span 2;
		flex-direction: row;
		.card-image {
			height: 100%;
			width: 35%; // variable
		}
	}
	.tall {
		grid-row-start: span 2;
		.card-image {
			height: 35%; // variable
			width: 100%;
		}
	}
	.large {
		grid-column-start: span 2;
		grid-row-start: span 2;
		.card-image {
			height: 50%; // variable
			width: 100%;
		}
	}
}



/* =================== Interactivity =================== */
.interactive {
	transition: all 250ms ease-in-out,
	box-shadow 125ms ease-in-out;
	* {
		transition: all 250ms ease-in-out;
	}
}
.interactive:hover {
	// expand and overlay effect
	transform: scale(1.1, 1.1);
	z-index: 1;
	// coloring
	background-color: lighten($primary-0, 25%);
	box-shadow: 0px 0px 12px $shadow-secondary-1-2;
	.card-header {
		color: $secondary-1-3;
	}
	.card-subheader {
		color: $secondary-1-4;
	}
}

.interactive:hover.regular .card-image {
	height: 40%;
}

// Wide and Large layouts break on small screens
// Sets all cards to regular size styling then
@media only screen and (max-width: $break-sm-1) {
	.interactive:hover.wide .card-image,
	.interactive:hover.tall .card-image,
	.interactive:hover.large .card-image {
		height: 300px;
	}
}
@media only screen and (min-width: $break-sm) {
	.interactive:hover.wide .card-image {
		width: 50%;
	}
	.interactive:hover.tall .card-image {
		height: 50%;
	}
	.interactive:hover.large .card-image {
		height: 60%;
	}
}