// TODO: @use method doesn't work?
// React doesn't recognize variable usage: colors.$variable
// NOTE: @import usage is deprecated by SASS
@import "./breakpoints.scss";

.cardbox {
	display: grid;
	grid-gap: 10px;

	// auto-flow dense fills empty grid cells automatically
	grid-auto-flow: dense;

	// responsive column count
	@media only screen and (max-width: $break-sm-1) {
		grid-template-columns: 1fr;
	}
	@media only screen and 
		(min-width: $break-sm) and (max-width: $break-lg-1) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media only screen and (min-width: $break-lg) and (max-width: $break-xl-1) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media only screen and (min-width: $break-xl) {
		grid-template-columns: repeat(4, 1fr);
	}
}