// TODO: @use method doesn't work?
// React doesn't recognize variable usage: colors.$variable
// NOTE: @import usage is deprecated by SASS
@import "./colors.scss";

.footer {
	background-color: $neutral-6;
	padding: 0.5em;
}

.text {
	padding: 0.25em 5vw;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	// Child element styling (texts)
	* {
		margin: 0;
		text-decoration: none;
		text-shadow: -1px 1px 3px $shadow-primary-0;
	}
}

// Back to top link coloring
.text a {
	transition: color 100ms ease-in-out;
	color: $neutral-0;
}
.text a:hover {
	color: $primary-0;
}
.text a:active {
	color: $primary-1;
}

.name {
	color: $neutral-3;
}