@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto-Regular.ttf");
}

:root {
	// smooth scroll
	scroll-behavior: smooth;
	// no scroll bar
	scrollbar-width: none;
}
// no scroll bar
:root::-webkit-scrollbar {
	display: none;
}


body {
	margin: 0px;

	font-family: Roboto; // temporary
}
main {
	// fill vertical viewport
	min-height: 100vh;
	// is a vertical flexbox container
	display: flex;
	flex-direction: column;

	header {
		// flex item ordering
		order: 1;
	}
	.content {
		// flex item ordering
		order: 2;
		// stretch to fill vertical space
		flex-grow: 1;
	}
	footer {
		// flex item ordering
		order : 3;
	}
}


/* ==================== Content Container Styling ==================== */

// div.content is a flex item and a flex container
.content {
	// flex container
	display: flex;
	flex-direction: column;
	// space-between stretches content footer to bottom of available space
	justify-content: space-between;

	// make sure content is snug
	padding: 0;
}

footer {
	padding: 0.5rem;
}