// TODO: @use method doesn't work?
// React doesn't recognize variable usage: colors.$variable
// NOTE: @import usage is deprecated by SASS
@import "./colors.scss";
@import "./fonts.scss";

/* ============== Carousel Styling ============== */
.one, .two, .three {
	height: 500px;
}
.one {
	background-color: lighten(red, 25%);
}
.two {
	background-color: desaturate(green, 25%);
}
.three {
	background-color: lighten(blue, 25%);
}


/* ============== Contents Styling ============== */
.card-deck {
	margin-top: 1em;
	// Stretch to fill space if empty
	flex-grow: 1;
}

.card {
	min-width: 15em;
	margin-top: 0.5em;
}

.placeholder {
	height: 250px;
	background-color: darkgray;
}